<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.fff.hotel.mapper.HotelSearchMapper">
    <resultMap id="FullSearchResultMap" type="com.uestc.fff.hotel.domain.FullSearResult">
        <id column="Hotel_id" jdbcType="VARCHAR" property="hotelId"/>
        <result column="Hotel_name" jdbcType="VARCHAR" property="hotelName"/>
        <result column="Hotel_grade" jdbcType="INTEGER" property="hotelGrade"/>
        <result column="Hotel_address" jdbcType="VARCHAR" property="hotelAddress"/>
        <result column="Hotel_photo1" jdbcType="VARCHAR" property="hotelPhoto1"/>
        <result column="Hotel_rating" jdbcType="REAL" property="hotelRating"/>
        <result column="Hotel_overview" jdbcType="LONGVARCHAR" property="hotelOverview"/>
        <result column="LeastFee" jdbcType="REAL" property="leastPrice"/>
    </resultMap>


    <!--<resultMap id="searchCity" type="com.uestc.fff.hotel.domain.City">-->
    <!--<id column="City_ID" jdbcType="VARCHAR" property="cityId" />-->
    <!--<result column="City_Name" jdbcType="VARCHAR" property="cityName" />-->
    <!--<result column="City_State" jdbcType="VARCHAR" property="cityState" />-->
    <!--<result column="Country_Code" jdbcType="VARCHAR" property="countryCode" />-->
    <!--</resultMap>-->
    <sql id="Example_Where_Clause">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jul 29 10:01:50 GMT+08:00 2019.
        -->
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jul 29 10:01:50 GMT+08:00 2019.
        -->
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Mon Jul 29 10:01:50 GMT+08:00 2019.
        -->
        City_ID, City_Name, City_State, Country_Code
    </sql>
    <select id="priceLeast" parameterType="java.lang.String" resultType="java.lang.Float">
        select
        MIN(Room_Fee)
        FROM room_info
        where Hotel_id=#{hotelID, jdbcType=VARCHAR}
    </select>
    <select id="fullResultSearch" parameterType="com.uestc.fff.hotel.domain.Key" resultMap="FullSearchResultMap">
        SELECT
        h.Hotel_id,h.Hotel_name,h.Hotel_grade,h.Hotel_address,h.Hotel_photo1,h.Hotel_rating,h.Hotel_overview,MIN(r.Room_Fee) AS LeastFee
        FROM hotel_info h,country co,city ci,room_info r
        WHERE ci.Country_Code=co.Country_Code AND co.Country_Name=#{countryKey,jdbcType=VARCHAR} AND ci.City_Name=#{cityKey,jdbcType=VARCHAR} AND h.City_ID=ci.City_ID AND h.Hotel_name LIKE #{hotelKey,jdbcType=VARCHAR} AND r.Hotel_id=h.Hotel_id GROUP BY h.Hotel_id;
    </select>


</mapper>