<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.fff.hotel.mapper.OrderInfoWithHotelMapper">
  <resultMap id="BaseResultMap" type="com.uestc.fff.hotel.domain.OrderInfoWithHotel">
    <id column="Order_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="User_ID" jdbcType="VARCHAR" property="userId" />
    <result column="Hotel_id" jdbcType="VARCHAR" property="hotelId" />
    <result column="Room_Num" jdbcType="INTEGER" property="roomNum" />
    <result column="Create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Order_total_fee" jdbcType="REAL" property="orderTotalFee" />
    <result column="Checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="custom_num" jdbcType="INTEGER" property="customNum" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="Contiment_ID" jdbcType="VARCHAR" property="contimentId" />
    <result column="City_ID" jdbcType="VARCHAR" property="cityId" />
    <result column="Country_Code" jdbcType="VARCHAR" property="countryCode" />
    <result column="Hotel_name" jdbcType="VARCHAR" property="hotelName" />
    <result column="Hotel_phone" jdbcType="VARCHAR" property="hotelPhone" />
    <result column="Hotel_grade" jdbcType="INTEGER" property="hotelGrade" />
    <result column="Hotel_address" jdbcType="VARCHAR" property="hotelAddress" />
    <result column="Hotel_photo5" jdbcType="VARCHAR" property="hotelPhoto5" />
    <result column="Hotel_photo4" jdbcType="VARCHAR" property="hotelPhoto4" />
    <result column="Hotel_photo3" jdbcType="VARCHAR" property="hotelPhoto3" />
    <result column="Hotel_photo2" jdbcType="VARCHAR" property="hotelPhoto2" />
    <result column="Hotel_photo1" jdbcType="VARCHAR" property="hotelPhoto1" />
    <result column="Hotel_name_en" jdbcType="VARCHAR" property="hotelNameEn" />
    <result column="Hotel_zipcode" jdbcType="VARCHAR" property="hotelZipcode" />
    <result column="Hotel_checkin" jdbcType="VARCHAR" property="hotelCheckin" />
    <result column="Hotel_checkout" jdbcType="VARCHAR" property="hotelCheckout" />
    <result column="Hotel_roomnum" jdbcType="INTEGER" property="hotelRoomnum" />
    <result column="Hotel_ratesfrom" jdbcType="REAL" property="hotelRatesfrom" />
    <result column="Hotel_rating" jdbcType="REAL" property="hotelRating" />
    <result column="Hotel_currency" jdbcType="VARCHAR" property="hotelCurrency" />
    <result column="Hotel_reviewnum" jdbcType="INTEGER" property="hotelReviewnum" />
    <result column="Hotel_longitude" jdbcType="DOUBLE" property="hotelLongitude" />
    <result column="Hotel_latitude" jdbcType="DOUBLE" property="hotelLatitude" />
  </resultMap>

  <select id="selectOne" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from order_info o join hotel_info h on o.Hotel_id = h.Hotel_id
    where User_ID = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from order_info o join hotel_info h on o.Hotel_id = h.Hotel_id
    where User_ID = #{userId,jdbcType=VARCHAR}
    order by Order_ID
  </select>

</mapper>