<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.fff.hotel.mapper.RoomListMapper">
    <resultMap id="BaseResultMap" type="com.uestc.fff.hotel.domain.RoomInfo">
        <id column="RoomID" jdbcType="VARCHAR" property="roomid" />
        <result column="Hotel_id" jdbcType="VARCHAR" property="hotelId" />
        <result column="Order_ID" jdbcType="VARCHAR" property="orderId" />
        <result column="Room_Last" jdbcType="INTEGER" property="roomLast" />
        <result column="Room_Type" jdbcType="VARCHAR" property="roomType" />
        <result column="Room_Status" jdbcType="BIT" property="roomStatus" />
        <result column="Room_Fee" jdbcType="REAL" property="roomFee" />
        <result column="Room_Breakfirst" jdbcType="VARCHAR" property="roomBreakfirst" />
    </resultMap>

  <select id="selectByHotel" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from room_info
    where Hotel_id = #{hotelId,jdbcType=VARCHAR}
    order by RoomID
  </select>
</mapper>