<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>酒店详情</title>

    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/bower_components/font-awesome/css/font-awesome.min.css"
          th:href="@{/adminlte/bower_components/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/bower_components/Ionicons/css/ionicons.min.css"
          th:href="@{/adminlte/bower_components/Ionicons/css/ionicons.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/dist/css/AdminLTE.min.css"
          th:href="@{/adminlte/dist/css/AdminLTE.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/dist/css/skins/skin-blue.min.css"
          th:href="@{/adminlte/dist/css/skins/skin-blue.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/bower_components/select2/dist/css/select2.min.css"
          th:href="@{/adminlte/bower_components/select2/dist/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../adminlte/dist/css/AdminLTE.min.css"
          th:href="@{/adminlte/dist/css/AdminLTE.min.css}">

    <style>
        .picture1{float:right;}
        .word1{float:left;}
        /*.word2{font-size: 16px}*/
        /*.word3{font-size: 16px}*/
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini layout-top-nav">
<div class="wrapper">

    <header class="main-header">
        <nav class="navbar navbar-static-top bg-purple" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a href="/504/host" class="navbar-brand"><b>504</b>订购网</a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" th:action="@{/504/post}" method="post">
                        <div class="input-group">
                            <input type="text" name="hotelKey" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-adn bg-purple-active"><i class="fa fa-search"></i>
                                </button>
                                <button type="button" name="search" id="Area-btn" class="btn btn-adn bg-purple-active dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-pin"></i>
                                </button>
                                <ul class="dropdown-menu navbar-static-top" role="menu">
                                <li>
                                    <select name="countryKey" class="select2" id="CountrySelect" style="width: 100%">
                                    <option th:each="country: ${countryList}" th:text="${country}" th:if="${country}!='中国'"></option>
                                    <option th:each="country: ${countryList}" th:text="${country}" selected="selected" th:if="${country}=='中国'"></option>
                                    </select>
                                </li>
                                <li>
                                    <select name="cityKey" class="form-control input-lg select2" id="CitySelect" style="width: 100%">
                                    <!--由JS代码生成-->
                                    </select>

                                </li>
                            </ul>
                            </span>
                        </div>
                        <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" id="navbar-search-input" placeholder="Search">-->
                        <!--</div>-->
                    </form>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu" th:if="${isLogin}==true">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger" th:text="${numOfOrders}"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">你有<span th:text="${numOfOrders}"></span>个酒店订单</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li th:if="${numOfOrders}==0">
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    无订单
                                                </h3>

                                                </p>
                                            </a>
                                        </li>
                                        <li th:each="order,orderStat: ${orderList}" th:if="${orderStat.count lt 3 && numOfOrders!=0}">
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    <span th:text="${order.hotelName}">酒店</span>
                                                </h3>
                                                <p class="text-black">
                                                    <span><span th:text="${order.roomNum}"></span>间房间</span>
                                                    <span class="pull-right"><i class="fa fa-calendar"></i>
                                            <span class="text-black" th:text='${order.checkInTime}'></span>入住</span>
                                                </p>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="/mybook/booklist">查看所有订单</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs" th:if="${isLogin}==true" th:text="${User_name}"></span>
                                <span class="hidden-xs" th:if="${isLogin}==false">未登录</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header bg-purple">

                                    <p th:if="${isLogin}==true">
                                        <span th:text="${User_name}"></span>
                                        <br>
                                        <br>
                                        <small>亲爱的用户，欢迎来到504订房网！</small>
                                    </p>
                                    <p th:if="${isLogin}==false">
                                        <span>用户未登录</span>
                                        <br>
                                        <br>
                                        <small>如果未注册，请注册后登录网站</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body" th:if="${isLogin}==true">
                                    <div class="row" style="">
                                        <div class="col-xs-4 text-center">

                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="/mybook/booklist">我的订单</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <!--<a href="#">Friends</a>-->
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer" th:if="${isLogin}==true">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">个人信息</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/user/logoutAction" class="btn btn-default btn-flat">登出</a>
                                    </div>
                                </li>
                                <li class="user-footer" th:if="${isLogin}==false">
                                    <div class="pull-left">
                                        <a href="/user/login" class="btn btn-default btn-flat">登录</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/user/register" class="btn btn-default btn-flat">注册</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-custom-menu -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper -align-center" th:style="'align-content: center;background: url('+@{/picture/backImg.jpg} + ') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;'">

        <div class="container-fluid">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    我的订单列表
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/504/host"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li><a href="/504/host">酒店列表</a></li>
                    <li><a href="#">酒店详情</a></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div id = "div1" class="table-responsive BookListBox-messages">
                                    <h4></h4>
                                    <div id="demo" class="carousel slide picture1 col-md-3" data-ride="carousel">
                                        <!-- 指示符 -->
                                        <ul class="carousel-indicators">
                                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                                            <li data-target="#demo" data-slide-to="1"></li>
                                            <li data-target="#demo" data-slide-to="2"></li>
                                            <li data-target="#demo" data-slide-to="3"></li>
                                            <li data-target="#demo" data-slide-to="4"></li>
                                        </ul>
                                        <!-- 轮播图片 -->
                                        <div class="carousel-inner" th:each="Hotel : ${Hotels}">
                                            <div class="item active">
                                                <img th:src="${Hotel.hotelPhoto1}">
                                            </div>
                                            <div class="item">
                                                <img th:src="${Hotel.hotelPhoto2}">
                                            </div>
                                            <div class="item">
                                                <img th:src="${Hotel.hotelPhoto3}">
                                            </div>
                                            <div class="item">
                                                <img th:src="${Hotel.hotelPhoto4}">
                                            </div>
                                            <div class="item">
                                                <img th:src="${Hotel.hotelPhoto5}">
                                            </div>
                                        </div>
                                        <!-- 左右切换按钮 -->
                                        <a class="left carousel-control" href="#demo" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        </a>
                                        <a class="right carousel-control" href="#demo" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        </a>
                                    </div>

                                    <div class="word1 col-md-9">

                                        <table class="table table-hover table-striped">
                                            <h4>&nbsp;&nbsp;酒店信息</h4>
                                            <tbody th:each="Hotel : ${Hotels}">
                                            <tr>
                                                <td th:text="${'酒店名称: '+Hotel.hotelName}"></td>
                                                <td th:text="${Hotel.hotelGrade+'星级酒店'}"></td>
                                            </tr>
                                            <tr>
                                                <td th:text="${'酒店地址: '+Hotel.hotelAddress}"></td>
                                                <td th:text="${'Tel: '+Hotel.hotelPhone}"></td></tr>
                                            </tr>
                                            <tr>
                                                <td th:text="${'上班时间: '+Hotel.hotelCheckin}"></td>
                                                <td th:text="${'下班时间: '+Hotel.hotelCheckout}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-hover table-striped">
                                            <tbody th:each="Hotel : ${Hotels}">
                                            <tr> <td>酒店简介:</td> </tr>
                                            <tr> <td th:text="${'&nbsp;&nbsp;&nbsp;&nbsp'+Hotel.hotelOverview}"></td> </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <HR align=center color=#987cb9 SIZE=5 class="col-md-12">
                                    <div class="word2 col-md-12">
                                        <table class="table table-hover table-striped">
                                            <h4>&nbsp;&nbsp;房间信息</h4>
                                            <thead>
                                                <tr>
                                                    <th>房间编号</th>
                                                    <th>房间名称</th>
                                                    <th>房间类型</th>
                                                    <th>有无早餐</th>
                                                    <th>价格/天</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr  th:each="Room : ${RoomList}">
                                                    <td th:text="${Room.roomid}"></td>
                                                    <td th:text="${Room.roomName}"></td>
                                                    <td th:text="${Room.roomType}"></td>
                                                    <td th:text="${Room.roomBreakfirst}"></td>
                                                    <td th:text="${'¥'+Room.roomFee}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <HR align=center color=#987cb9 SIZE=5 class="col-md-12">
                                    <div>
                                        <p th:each="Hotel : ${Hotels}">
                                            <button type="button" class="btn btn-block btn-success bg-purple"
                                                    data-th-attr="onclick='BookAction(\'' + ${Hotel.hotelId} + '\')'">
                                                >>立即预订0<<
                                            </button>
                                            <!-- 按钮触发模态框 -->
                                            <button class="btn btn-block btn-success bg-purple" data-toggle="modal" data-target="#myModal">
                                                >>立即预订<<
                                            </button>
                                            <!-- 模态框（Modal） -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document" style="width: 700px;">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                输入信息
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label>请选择房间</label>
                                                                <select class="form-control select2" id="RoomSelect" style="width: 100%;">
                                                                    <option th:each="Room: ${RoomList}" th:text="${Room.roomName}"></option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label>请输入天数</label>
                                                                <input class="form-control" id="numOfDays" placeholder="请输入您要预定的天数" style="width: 100%;">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>请输入人数</label>
                                                                <input class="form-control" id="numOfCus" placeholder="请输入人数" style="width: 100%;">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>请选择入住时间</label>
                                                                <div class="input-group">
                                                                    <div class="input-group-addon">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </div>
                                                                    <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask>
                                                                </div>
                                                                <!-- /.input group -->
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                            <button type="button" class="btn btn-primary">确定</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal -->
                                            </div>
                                        </p>
                                    </div>
                                    <HR align=center color=#987cb9 SIZE=5 class="col-md-12">
                                    <br>
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </div>
        <!-- /.content -->
    </div>

    <footer class="main-footer fixed">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            电子科技大学第22组
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 <a href="https://www.uestc.edu.cn/">电子科技大学</a>.</strong> All rights reserved.
    </footer>
</div>
<!-- ./wrapper -->

<script type="text/javascript" th:src="@{/adminlte/bower_components/jquery/dist/jquery.min.js}"
        src="../adminlte/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js}"
        src="../adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/adminlte/dist/js/adminlte.min.js}"
        src="../adminlte/dist/js/adminlte.min.js"></script>
<script src="../adminlte/bower_components/select2/dist/js/select2.full.min.js" type="text/javascript"
        th:src="@{/adminlte/bower_components/select2/dist/js/select2.full.min.js}"></script>
<!-- DataTables -->
<script src="../adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js" type="text/javascript"
        th:src="@{/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script src="../adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" type="text/javascript"
        th:src="@{/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<!-- SlimScroll -->
<script src="../adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"
        th:src="@{/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- FastClick -->
<script src="../adminlte/bower_components/fastclick/lib/fastclick.js" type="text/javascript"
        th:src="@{/adminlte/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- AdminLTE for demo purposes -->
<script src="../adminlte/dist/js/demo.js" type="text/javascript"
        th:src="@{/adminlte/dist/js/demo.js}"></script>
<!-- Select2 -->
<script src="../adminlte/bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- InputMask -->
<script src="../adminlte/plugins/input-mask/jquery.inputmask.js"></script>
<script src="../adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="../adminlte/plugins/input-mask/jquery.inputmask.extensions.js"></script>

<script>
    function BookAction(hotelID) {
        var clicks = $(this).data('clicks');
        if (!clicks) {
            open("/mybook/bookconfirm?hid=" + hotelID);
        }
    }

    //Initialize Select2 Elements
    $('.select2').select2()
    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
</script>
<!-- AdminLTE for demo purposes -->
<script src="../adminlte/dist/js/demo.js"></script>
</body>
</html>