<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang = "en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="../adminlte/userResource/css/login.css"
          th:href="@{../adminlte/userResource/css/login.css}">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <!--<script type="text/javascript">
        $(function(){
            $(".id input").focus(function(){
                $(this).prev("i").css({"background-image":"url(img/user2.png)"});
            });
            $(".id input").blur(function(){
                $(this).prev("i").css({"background-image":"url(img/user1.png)"});
            });
            $(".password input").focus(function(){
                $(this).prev("i").css({"background-image":"url(img/password2.png)"});
            });
            $(".password input").blur(function(){
                $(this).prev("i").css({"background-image":"url(img/password1.png)"});
            });
        });
    </script>-->
    <style>
        div.transbox
        {
            width: 412px;
            height: 400px;
            margin:30px;
            padding:0;
            background-color: #ffffff;

            /* for IE */
            filter:alpha(opacity=60);
            /* CSS3 standard */
            opacity:0.75;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <article>
        <div class="transbox">
            <h1 style="color: #AF0000"><span>登录</span></h1>
            <p> </p>
            <form th:action="@{/user/loginAction}"  method="post">
                <p class="id"><i></i><input type="text" name="id" id="id" placeholder="请输入身份证号" required="required"></p>
                <p class="password"><i></i><input type="password" name="password" id="password" placeholder="请输入密码" required="required"></p>
<!--                <p class="select">
                    <i></i>
                    <select>
                        <option value ="用户">用户</option>
                        <option value ="管理员">管理员</option>
                    </select>
                </p>-->
                <button>登录</button>
                <p class="register"><a href="./register">注册帐号</a></p>
                <div class="clear"></div>
            </form>
        </div>
    </article>
</div>
</body>
</html>
