<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiav="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>浏览器精确定位</title>
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <style>
        html,body,#container{
            height:100%;
        }
        .info{
            width:26rem;
        }
    </style>
<body>
<div id='container'></div>
<div class="info">
    <h4 id='status'></h4><hr>
    <p id='result'></p><hr>
    <p >由于众多浏览器已不再支持非安全域的定位请求，为保位成功率和精度，请升级您的站点到HTTPS。</p>
</div>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=	651de3d7f4aaa54f8a78b371de9694b7"></script>
<script type="text/javascript">
    $('#locBtn').click(function(){
        if (!($('#locInput').val()=="")) {
            if (isNumber(parseInt($('#locInput').val()))){
                xmlhttp.open("GET", "/504/location", true);
                xmlhttp.send();
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        var text;
                        text = xmlhttp.responseText;
                        text = JSON.parse(text)
                        var num = parseInt(text.length)
                        $('#numOfHotel').text(num);
                        $('.fullResultBox').remove();
                        if (num == 0) {
                            $('.downList').hide()
                            $('#none2').show();
                        }
                        else {
                            if ($('#locSelect').val()=="公里"){
                                var distance=$('#locInput').val()*1000
                            }
                            else{
                                var distance=$('#locInput').val()
                            }
                            var pointA=new BMap.Point(text[0].lng,text[0].lat)
                            console.log(pointA)
                            var options = {
                                enableHighAccuracy: true,
                                timeout: 5000,
                                maximumAge: 0
                            };
                            Geolocation()

                            function Geolocation() {
                                if(navigator.geolocation){
                                    console.log("success")
                                    navigator.geolocation.getCurrentPosition(
                                        function (position) {//传入了对象position
                                            console.log("success1")
                                            console.log(position.coords.latitude+position.coords.longitude);
                                        },
                                        function (err) {//传入了error对象
                                            console.log("error")
                                            console.log( err.code + '\n'+err.message);//Firefox3.6以上不支持error对象的message属性
                                            //error对象的code属性有如下属性值:
                                            //PERMISSION_DENIED(1):(permission_denied):用户单机信息条上的“不共享”按钮或直接拒绝被获取位置信息
                                            //POSITION_UNAVAILABLE(2):(position_unavailable):(position_unavailable)网络不可用或者无法连接到获取位置信息的卫星
                                            //TIMEOUT(3):(timeout)网络可用但在计算机用户的位置上花费过长时间
                                            //UNKNOWN_ERROR(0):(unknown_error)发生其他未知错误
                                        },
                                        {
                                            enableHighAccuracy:false,
                                            timeout: 5000,
                                            maximumAge: 0
                                        })
                                }else {
                                    console.log("您当前使用的浏览器不支持地理定位服务");
                                }
                            }

                            // var geolocation = new BMap.Geolocation();
                            // geolocation.getCurrentPosition(function(r){
                            //     if(this.getStatus() == BMAP_STATUS_SUCCESS){
                            //         var mk = new BMap.Marker(r.point);
                            //         map.addOverlay(mk);
                            //         map.panTo(r.point);
                            //         console.log(r.point)
                            //         alert('从大渡口区到江北区的距离是：'+(map.getDistance(pointA,r.point))+' 米。');
                            //     }
                            //     else {
                            //         alert('failed'+this.getStatus());
                            //     }
                            // },{enableHighAccuracy: true})
                            // // var geolocation = new BMap.Geolocation();
                            // // geolocation.getCurrentPosition(function(r){
                            // //     if(this.getStatus() == 0){
                            // //         var mk = new BMap.Marker(r.point);
                            // //         map.addOverlay(mk);
                            // //         map.panTo(r.point);
                            // //         console.log(r.point)
                            // //         console.log(pointA)
                            // //         alert('从大渡口区到江北区的距离是：'+(map.getDistance(pointA,r.point))+' 米。');
                            // //     }
                            // //     else {
                            // //         alert('failed'+this.getStatus());
                            // //     }
                            // // },{enableHighAccuracy: true})
                            // //

                        }


                    }
                }
            }
            else{
                alert("请在距离搜索栏中输入正确的数字")
            }
        }
    })
    }
</script>
</body>
</html>